<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/createuser}" th:object="${userDTO}" method=post>

    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" th:field="*{username}"/>
    </div>
    <div>
        <label for="firstname">Firstname:</label>
        <input type="text" name="firstname" id="firstname" th:field="*{firstname}"/>
        <label for="lastname">Lastname:</label>
        <input type="text" name="lastname" id="lastname" th:field="*{lastname}"/>
        <label for="email">Email address:</label>
        <input type="text" name="email" id="email" th:field="*{email}"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" th:field="*{password}"/>
    </div>
    <input type="reset" value="Reset" />
    <input type="submit" name="Add user"/>
</form>
</body>
</html>